<template>
  <div class="mb-10">
    <h4 class="font-weight-bold mb-2">
      Education
    </h4>
    <p class="blue-grey--text text--lighten-1 subtitle-1">
      A varied education on your resume sums up the value that your learnings and background will bring to job.
    </p>
    <v-expansion-panels class="mb-3" :value="educations.length ? educations.length - 1 : 0">
      <v-expansion-panel v-for="(item,i) in educations" :key="i">
        <v-expansion-panel-header>
          <div>
            <h4 class="font-weight-bold mb-2">{{item.degree || `(Not specified)`}} {{item.degree && item.school ? `at ${item.school}` : ''}}</h4>
            <div class="blue-grey--text text--lighten-1">
              {{ item.startDate ? $dayjs(item.startDate).format('MMM YYYY') : '' }}{{ item.endDate ? ` - ${$dayjs(item.endDate).format('MMM YYYY')}` : '' }}
            </div>
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-form ref="form">
            <v-row>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">School</label>
                <v-text-field
                  flat solo background-color="grey lighten-3" v-model="item.school" />
              </v-col>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Degree</label>
                <v-text-field flat solo background-color="grey lighten-3" v-model="item.degree" />
              </v-col>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Start & End Date</label>
                <v-row>
                  <v-col cols="6">
                    <v-text-field placeholder="MM/YYYY" flat solo background-color="grey lighten-3"
                                  v-model="item.startDate" readonly @focus="item.isPickerStartDate=true" />
                    <v-date-picker no-title elevation="15" v-model="item.startDate" type="month"
                                   @click:month="item.isPickerStartDate=false" v-if="item.isPickerStartDate" />
                  </v-col>
                  <v-col cols="6">
                    <v-text-field placeholder="MM/YYYY" flat solo background-color="grey lighten-3"
                                  v-model="item.endDate" readonly @focus="item.isPickerEndDate=true" />
                    <v-date-picker no-title elevation="15" v-model="item.endDate" type="month"
                                   @click:month="item.isPickerEndDate=false" v-if="item.isPickerEndDate" />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">City</label>
                <v-text-field flat solo background-color="grey lighten-3" v-model="item.city" />
              </v-col>
              <v-col cols="12">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Description</label>
                <LazyFormsTipTapEditor
                  placeholder="e.g. Graduated with High Honors."
                  @onChangeEditor="item.description = $event" />
              </v-col>
            </v-row>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <LazyButtonsButtonAdd :label="educations.length ? 'Add one more education' : 'Add education'"
                          @onClickBtnAdd="onAddEducation" />
  </div>
</template>
<script>
export default {
  name: "Education",
  data() {
    return {
      education: {
        school: '',
        degree: '',
        startDate: '',
        isPickerStartDate: false,
        endDate: '',
        isPickerEndDate: false,
        city: '',
        description: ''
      },
      educations: []
    }
  },
  methods: {
    onAddEducation() {
      this.educations.push({...this.education})
      this.$store.commit('SET_STEP_ACTIVE', `STEP 4.${this.educations.length}`)
    }
  }
}

</script>
<style scoped lang="scss">

</style>
