<template>
  <div class="mb-10">
    <h3 class="font-weight-bold mb-2">
      Employment History
    </h3>
    <p class="blue-grey--text text--lighten-1 subtitle-1">
      Show your experience (last 10 years). Use bullets point to note your achievements. if posible - use number/facts
      (Achieved X, measured by Y, by doing Z).
    </p>
    <v-expansion-panels class="mb-3" :value="histories.length ? histories.length - 1 : 0">
      <v-expansion-panel v-for="(item,i) in histories" :key="i">
        <v-expansion-panel-header>
          <div>
            <h4 class="font-weight-bold mb-2">{{item.jobTitle || `(Not specified)`}} {{item.employer}}</h4>
            <div class="blue-grey--text text--lighten-1">
              {{ item.startDate ? $dayjs(item.startDate).format('MMM YYYY') : '' }}{{ item.endDate ? ` - ${$dayjs(item.endDate).format('MMM YYYY')}` : '' }}
            </div>
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-form ref="form">
            <v-row>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Job title</label>
                <v-text-field
                  flat solo background-color="grey lighten-3" v-model="item.jobTitle" />
              </v-col>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Employer</label>
                <v-text-field flat solo background-color="grey lighten-3" v-model="item.employer" />
              </v-col>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Start & End Date</label>
                <v-row>
                  <v-col cols="6">
                    <v-text-field placeholder="MM/YYYY" flat solo background-color="grey lighten-3"
                                  v-model="item.startDate" readonly @focus="item.isPickerStartDate=true" />
                    <v-date-picker no-title elevation="15" v-model="item.startDate" type="month"
                                   @click:month="item.isPickerStartDate=false" v-if="item.isPickerStartDate" />
                  </v-col>
                  <v-col cols="6">
                    <v-text-field placeholder="MM/YYYY" flat solo background-color="grey lighten-3"
                                  v-model="item.endDate" readonly @focus="item.isPickerEndDate=true" />
                    <v-date-picker no-title elevation="15" v-model="item.endDate" type="month"
                                   @click:month="item.isPickerEndDate=false" v-if="item.isPickerEndDate" />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">City</label>
                <v-text-field flat solo background-color="grey lighten-3" v-model="item.city" />
              </v-col>
              <v-col cols="12">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Description</label>
                <LazyFormsTipTapEditor
                  placeholder="e.g. Created and implemented lesson plans based on child-led interests and curiosities."
                  @onChangeEditor="item.description = $event" />
                <div class="caption blue-grey--text text--lighten-1">Recruiter tip: write 200+ character to increase interview chances</div>
              </v-col>
            </v-row>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <LazyButtonsButtonAdd
      :label="histories.length ? 'Add one more employment' : 'Add employment'" @onClickBtnAdd="onAddEmployment" />
  </div>
</template>
<script>
export default {
  name: "EmploymentHistory",
  data() {
    return {
      panels: [0],
      history: {
        jobTitle: '',
        employer: '',
        startDate: '',
        isPickerStartDate: false,
        endDate: '',
        isPickerEndDate: false,
        city: '',
        description: ''
      },
      histories: []
    }
  },
  methods: {
    onAddEmployment() {
      this.histories.push({...this.history})
      this.$store.commit('SET_STEP_ACTIVE', `STEP 3.${this.histories.length}`)
    }
  }
}

</script>
<style scoped lang="scss">

</style>
