<template>
  <div>
    <h4 class="font-weight-bold mb-3">Personal Details</h4>
    <v-form ref="form">
      <v-row v-if="isLoading">
        <v-col cols="6" v-for="(index) in 14" :key="index">
          <v-skeleton-loader
            class="mx-auto"
            type="list-item"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
      <v-row v-else>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Wanted Job Title</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.wantedJobTitle" />
        </v-col>
        <v-col cols="6" class="d-flex align-center">
          <LazyFormsUploadPhoto :origin-path="store.photoUrl" @onUpdatePhoto="fetchProfile" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">First Name</label>
          <v-text-field
            flat solo background-color="grey lighten-3" v-model="store.firstName" @blur="storeOrUpdateProfile" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Last Name</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.lastName" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Email</label>
          <v-text-field
            flat solo background-color="grey lighten-3" :rules="emailRules" v-model="store.email"
            @blur="storeOrUpdateProfile" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Phone</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.phone" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Country</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.country" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">City</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.country" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Address</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.address" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Postal Code</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.postalCode" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Driving Licence</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.drivingLicence" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Nationality</label>
          <v-text-field flat solo background-color="grey lighten-3" v-model="store.nationality" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Place Of Birth</label>
          <v-text-field
            flat solo background-color="grey lighten-3" v-model="store.placeOfBirth" @blur="storeOrUpdateProfile" />
        </v-col>
        <v-col cols="6">
          <label class="blue-grey--text text--lighten-1 subtitle-1">Date Of Birth</label>
          <v-text-field
            flat solo background-color="grey lighten-3" v-model="store.dateOfBirth" readonly
            @focus="showDatePicker=true" />
          <v-date-picker no-title elevation="15" v-model="store.dateOfBirth" v-if="showDatePicker"
                         @click:date="showDatePicker=false" />
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>
<script>
import Api from "@/api"
export default {
  name: "PersonalDetails",
  data() {
    return {
      showDatePicker: false,
      store: {
        wantedJobTitle: "",
        firstName: "",
        lastName: "",
        email: "",
        phone: "",
        country: "",
        city: "",
        address: "",
        postalCode: null,
        drivingLicence: "",
        nationality: "",
        placeOfBirth: "",
        dateOfBirth: "",
        photoUrl: null,
      },
      emailRules: [
        value => {
          if (value)
            return !value || /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(value) || 'E-mail must be valid'
          return 'You must enter a email.'
        },
      ],
    }
  },
  methods: {
    fetchProfile() {
      if (!this.profileCode) return null
      this.$store.commit('SET_IS_LOADING', true)
      Api.profile.show(this.profileCode).then(res => {
        if (res.status === 200) this.store = {...res.data}
      }).catch(err => {
        console.log("err: ", err)
      }).finally(() => {
        this.$store.commit('SET_IS_LOADING', false)
      })
    },
    storeOrUpdateProfile() {
      this.$store.commit('SET_IS_LOADING', true)
      if (this.profileCode) {
        Api.profile.update(this.profileCode, {...this.store}).then(res => {
          if (res.status === 200) {
            this.$store.commit('SET_STEP_ACTIVE', 'STEP 2')
            this.$store.commit('SET_PROFILE_CODE', res.data.profileCode)
            this.fetchProfile()
          }
        }).catch(err => {
          console.log("err: ", err)
        }).finally(() => this.$store.commit('SET_IS_LOADING', false))
      } else {
        Api.profile.store({...this.store}).then(res => {
          if (res.status === 200) {
            this.$store.commit('SET_STEP_ACTIVE', 'Step 1')
            this.$store.commit('SET_PROFILE_CODE', res.data.profileCode)
            this.fetchProfile()
          }
        }).catch(err => {
          console.log("err: ", err)
        }).finally(() => this.$store.commit('SET_IS_LOADING', false))
      }
    }
  },
  computed: {
    profileCode() {
      return this.$store.state.profileCode
    },
    isLoading() {
      return this.$store.state.isLoading
    }
  },
  mounted() {
    this.fetchProfile()
  }
}
</script>
<style scoped lang="scss">
.form-control >>> .v-input__slot::before {
  border-style: none !important;
}

</style>
