<template>
  <div class="mb-10">
    <h4 class="font-weight-bold mb-2">
      Professional Summary
    </h4>
    <p class="blue-grey--text text--lighten-1 subtitle-1">
      Write 2-4 short & energetic sentences to interest the reader! Mention your role, experience &
      most importantly - your biggest achievements, best qualities and skills.
    </p>
    <LazyFormsTipTapEditor
      :origin-value="$cookies.get('professionalSummary')"
      placeholder="e.g. Passionate science teacher with 8+ years of experience and a track record of ..."
      @onChangeEditor="onFinished" />
  </div>
</template>
<script>
export default {
  name: "ProfessionalSummary",
  methods: {
    onFinished(event) {
      this.$cookies.set('professionalSummary', event)
      this.$store.commit('SET_STEP_ACTIVE', 'STEP 3')
    }
  }
}

</script>
<style scoped lang="scss">

</style>
