<template>
  <div class="mb-10">
    <h4 class="font-weight-bold mb-2">
      Skills
    </h4>
    <p class="blue-grey--text text--lighten-1 subtitle-1">
      Choose 5 of the most important skills to show your talents! Make sure they match the keyword of the job listing
      if applying via an online system.
    </p>
    <v-flex class="mb-5">
      <v-btn
        raised elevation="0" :color="isReferenceActive(label) ? `info` : `blue-grey lighten-5`" class="text-transform-none mr-2 mb-3"
        v-for="(label, i) in skill_option" :key="i" @click="onBtnReferenceClick(label)">
        {{label}}&nbsp;
        <v-icon color="white" v-if="isReferenceActive(label)">
          mdi-check
        </v-icon>
        <v-icon small color="grey darken-1" v-else>
          mdi-plus
        </v-icon>
      </v-btn>
    </v-flex>
    <v-expansion-panels class="mb-3" v-model="panel">
      <v-expansion-panel v-for="(item,i) in skills" :key="i">
        <v-expansion-panel-header>
          <div>
            <h4 class="font-weight-bold mb-2">{{item.skill || `(Not specified)`}}</h4>
            <div class="blue-grey--text text--lighten-1">{{ item.level ? item.level.label : '' }}</div>
          </div>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-form ref="form">
            <v-row>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">Skill</label>
                <v-text-field
                  flat solo background-color="grey lighten-3" v-model="item.skill" />
              </v-col>
              <v-col cols="6">
                <label class="blue-grey--text text--lighten-1 subtitle-1">
                  Level - <span :style="{color: item.level.active}">{{ item.level.label }}</span>
                </label>
                <LazyFormsSelectLevel @onSelected="item.level = $event" />
              </v-col>
            </v-row>
          </v-form>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
    <LazyButtonsButtonAdd :label="skills.length ? 'Add one more skill' : 'Add skill'"
                          @onClickBtnAdd="onAddSkill" />
  </div>
</template>
<script>
export default {
  name: "Skills",
  data() {
    return {
      panel: '',
      skill_option: ['Java','JavaScript','Python','Git','SQL','C++','TypeScript','C#','Docker','PHP','React','MongoDB',
        'Toad','HTML CSS 3','MS SQL server'],
      skill_origin: {
        skill: '',
        level: ''
      },
      skills: []
    }
  },
  methods: {
    onAddSkill() {
      this.skills.push({...this.skill_origin})
      this.panel = this.skills.length ? this.skills.length - 1 : ''
    },
    onBtnReferenceClick(value) {
      if (!this.skills.length) return null
      this.skills[this.panel]['skill'] = value
    },
    isReferenceActive(param) {
      return !!this.skills.find(sk => sk.skill === param)
    }
  }
}

</script>
<style scoped lang="scss">

</style>
