<template>
  <v-btn color="primary" text class="text-transform-none" @click="$emit('onClickBtnAdd')">
    <v-icon dark>
      mdi-plus
    </v-icon>
    &nbsp;{{label}}
  </v-btn>
</template>
<script>
export default {
  name: "ButtonAdd",
  props: {
    label: String
  }
}
</script>
<style scoped lang="scss">

</style>
