<template>
  <v-row align="center">
    <v-col sm="8" md="12">
      <v-card>
        <v-card-title class="headline justify-center font-weight-medium">{{stepActive}}</v-card-title>
        <div class="pa-5">
          <LazySectionsPersonalDetails />
          <LazySectionsProfessionalSummary />
          <LazySectionsEmploymentHistory />
          <LazySectionsEducation />
          <LazySectionsSkills />
        </div>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'IndexPage',
  methods: {
    checkCookie() {
      console.log("coockieee: ", this.$cookies.get('cookie-name'))
    }
  },
  computed: {
    stepActive() {
      return this.$store.state.stepActive
    }
  },
  mounted() {
    this.$cookies.set('cookie-name', "test test")
  }
}
</script>
