<template>
  <div class="level-wrapper" :style="{backgroundColor: levelActive && levelActive.background}">
    <div
      class="item"
       :class="[levelActive && item.label === levelActive.label ? `active-${i}`:``, {'not-last': (i < level_options.length - 1)}]"
       v-for="(item, i) in level_options" @click="onClickLevel(item)" />
  </div>
</template>
<script>
export default {
  name: "SelectLevel",
  data() {
    return {
      level_options: [
        {label: 'Beginner', background: '#FCE4EC', active: '#F06292'},
        {label: 'Middle', background: '#EFEBE9', active: '#BCAAA4'},
        {label: 'Skillful', background: '#FFF3E0', active: '#FFCC80'},
        {label: 'Experienced', background: '#E8F5E9', active: '#A5D6A7'},
        {label: 'Expert', background: '#EDE7F6', active: '#B39DDB'},
      ],
      levelActive: null
    }
  },
  methods: {
    onClickLevel(item) {
      this.levelActive = item
      this.$emit('onSelected', item)
    }
  }
}
</script>
<style scoped lang="scss">
.level-wrapper {
  display: flex;
  background-color: #EEEEEE;
  border-radius: 5px;
  .item {
    width: 110px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    &.not-last {
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 25%;
        height: 40%;
        margin: auto;
        border-right: 1px solid #BDBDBD;
      }
    }
    &.active-0 {
      background-color: #F06292;
      margin-left: -5px;
    }
    &.active-1 {
      background-color: #BCAAA4;
      margin-left: -5px;
    }
    &.active-2 {
      background-color: #FFCC80;
      margin-left: -5px;
    }
    &.active-3 {
      background-color: #A5D6A7;
      margin-left: -5px;
    }
    &.active-4 {
      background-color: #B39DDB;
      margin-left: -5px;
    }
  }
}
</style>
