<template>
  <div>
    <tiptap-vuetify
      v-model="content"
      :extensions="extensions"
      :placeholder="placeholder"
      @blur="$emit('onChangeEditor', content)"
    />
  </div>
</template>

<script>
import { TiptapVuetify, Heading, Bold, Italic, Strike, Underline, Code, Paragraph, BulletList, OrderedList, ListItem, Link, Blockquote, HardBreak, HorizontalRule, History } from 'tiptap-vuetify'

export default {
  name: "TipTapEditor",
  props: {
    originValue: String,
    placeholder: String
  },
  components: { TiptapVuetify },
  data: () => ({
    extensions: [
      History,
      Blockquote,
      Link,
      Underline,
      Strike,
      Italic,
      ListItem,
      BulletList,
      OrderedList,
      [Heading, {
        options: {
          levels: [1, 2, 3]
        }
      }],
      Bold,
      Link,
      Code,
      HorizontalRule,
      Paragraph,
      HardBreak
    ],
    content: ``
  }),
  mounted() {
    this.content = this.originValue || ''
  }
}
</script>
