<template>
  <v-flex>
    <v-avatar tile size="60" color="grey lighten-3">
      <img :src="originPath" alt="John" v-if="originPath" />
      <v-icon color="grey darken-2" size="35" v-else>
        mdi-account
      </v-icon>
    </v-avatar>
    <input class="d-none" type="file" :ref="idInputFile" accept="image/*" @change="onChange($event)" />
    <v-btn color="primary" text class="text-transform-none" @click="profileCode ? $refs[idInputFile].click() : ''">
      Upload photo
    </v-btn>
  </v-flex>
</template>
<script>
import Api from "~/api";

export default {
  name: "UploadPhoto",
  props: {
    originPath: String
  },
  data() {
    return {
      idInputFile: "idPhoto"
    }
  },
  methods: {
    toBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = reject;
      })
    },
    async onChange(e) {
      if (e.target.value.length === 0) return null
      let origin_file = this.$refs[this.idInputFile].files[0]
      let base_64 = await this.toBase64(origin_file)
      if (base_64) this.updatePhoto(base_64)
    },
    updatePhoto(payload) {
      if (!this.profileCode) return null
      this.$store.commit('SET_IS_LOADING', false)
      Api.photo.update(this.profileCode, {
        base64img: payload
      }).then(res => {
        if (res.status === 200) this.$emit('onUpdatePhoto')
      }).catch(err => {
        console.log("err: ", err)
      }).finally(() => {
        this.$store.commit('SET_IS_LOADING', false)
      })
    }
  },
  computed: {
    profileCode() {
      return this.$store.state.profileCode
    }
  },
}
</script>
<style scoped lang="scss">

</style>
